<!doctype html>
<html> 
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="/main.css" type="text/css">
    </head>
    <body class="bg-yellow-100 min-h-screen flex items-center justify-center">

        <div class="text-center">
            <a href="/author/home">
                <div class="bg-gray-900 inline-block w-2/5 mx-4 p-8">
                    <h2 class="text-yellow-100 text-2xl font-bold mb-4">Author Home</h2>
                </div>
            </a>
            <a href="/reader/home">
                <div class="bg-gray-900 inline-block w-2/5 mx-4 p-8 ">
                    <h2 class="text-yellow-100 text-2xl font-bold mb-4">Reader Home</h2>
                </div>
            </a>
        </div>
    
    </body>
</html>
